<div class="brand-details">
    <div class="brand-details__title">
        {{ brandDetailsData.title }}
    </div>
    <div class="brand-details__description">
        {{ brandDetailsData.description }}
    </div>
    <div class="brand-details__top-models">
        <h2 class="brand-details__caption">
            Top Models
        </h2>
        <div class="brand-details__top-models__container">
            <mozo-models [items]="brandDetailsData.models"
                [modelCategories]="modelCategories"
                [tilesPerView]="tilesPerView">
            </mozo-models>
        </div>
    </div>
    <div class="brand-details__related-brands">
        <h2 class="brand-details__caption">
            Similar Brands
        </h2>
        <mozo-brands [items]="brandDetailsData.brands"></mozo-brands>
    </div>
</div>
