<div class="footer">
    <div class="footer__bar container">
        <div class="column">
            <div class="footer__bar__caption">Overview</div>
            <div class="footer__bar__info-block">
                <div class="footer__bar__info-block__item">
                    <a routerLink="/about"
                    class="footer__bar__info-block__item__link">
                    About Us
                </a>
            </div>
            <div class="footer__bar__info-block__item">
                <a routerLink="/feedback"
                class="footer__bar__info-block__item__link">
                Feedback
            </a>
        </div>
        <div class="footer__bar__info-block__item">
            <a routerLink="/contact"
            class="footer__bar__info-block__item__link">
            Contact Us
        </a>
    </div>
    <div class="footer__bar__info-block__item">FAQs</div>
</div>
</div>
<div class="column">
    <div class="footer__bar__caption">Online Services</div>
    <div class="footer__bar__info-block">
        <div class="footer__bar__info-block__item">
            Advertise With US
        </div>
    </div>
</div>
<div class="column">
    <div class="footer__bar__caption">Others</div>
    <div class="footer__bar__info-block">
        <div class="footer__bar__info-block__item">
            Customer Care
        </div>
        <div class="footer__bar__info-block__item">
            Privacy Policy
        </div>
        <div class="footer__bar__info-block__item">
            Terms & Conditions
        </div>
    </div>
</div>
<div class="column">
    <div class="footer__bar__caption">
        Connect With Us
    </div>
    <div class="footer__bar__info-block">
        <div class="footer__bar__info-block__item">abc@xyz.com</div>
    </div>
</div>
</div>

<mozo-footer-infobar></mozo-footer-infobar>
</div>
