<div class="header">
    <div class="header__container container">
        <div class="header__nav-menu">
            <div class="header__nav-menu__toggler" *ngIf="isSmallScreen">
                <i class="fa fa-bars" (click)="toggleNavMenu()"></i>
            </div>
            <ul class="header__nav-menu__list" *ngIf="showNavMenu || !isSmallScreen">
                <li class="header__nav-menu__list__item">
                    <a class="header__nav-menu__list__item__link"
                        (click)="toggleNavMenu()"
                        routerLink="/"
                        routerLinkActive="header__nav-menu__list__item__link--active"
                        [routerLinkActiveOptions]="{ exact: true }">
                        HOME
                    </a>
                </li>
                <li class="header__nav-menu__list__item">
                    <a class="header__nav-menu__list__item__link"
                        (click)="toggleNavMenu()"
                        routerLink="/aboutUs"
                        routerLinkActive="header__nav-menu__list__item__link--active">
                        ABOUT US
                    </a>
                </li>
                <li class="header__nav-menu__list__item">
                    <a class="header__nav-menu__list__item__link"
                        (click)="toggleNavMenu()"
                        routerLink="/contactUs"
                        routerLinkActive="header__nav-menu__list__item__link--active">
                        CONTACT US
                    </a>
                </li>
            </ul>
        </div>
        <div class="header__nav"></div>
    </div>
</div>
<div class="header__mozo-logo"></div>
