@import '../scss/variables';

$body-content-wrapper-margin-top: 90px !default;

.body-content-wrapper {
    margin-top: $body-content-wrapper-margin-top;
    height: calc(100% - #{$body-content-wrapper-margin-top});
    overflow: auto;
    overflow-x: hidden;
}
