<div class="tiles">
    <div class="swiper-container" [swiper]="SwiperConfig">
        <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let item of items">
                <mozo-tile [item]="item"></mozo-tile>
            </div>
        </div>

        <div class="swiper-pagination"></div>
        <a class="swiper-nav-button swiper-nav-button-prev">
            <span class="swiper-nav-button-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="swiper-nav-button swiper-nav-button-next">
            <span class="swiper-nav-button-next-icon" aria-hidden="true"></span>
        </a>
    </div>
</div>