@import '~swiper/dist/css/swiper.min.css';

html {
    height: 100%;
    overflow: hidden;

    body {
        height: 100%;
        overflow-x: hidden;

        &.deepsite-open {
            .body-content-wrapper {
                overflow: hidden;
            }
        }
    }
}